<a href="https://colab.research.google.com/github/PragatiBirhade/Data-Science-demo/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Creating a List**

In [ ]:
#Empty
print([])

#1D -->HOmogenius
print([1,2,3,4,5])

#2D---.Hetrogenous
print([1,2,3,[4,5]])

#3D----->Homogenous
print([[[1,2],[3,4]],[[5,6],[7,8]]])

#Hetrogenous
print([1,True,5.6,5+6j,'hello'])

#using Type Conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'hello']
['h', 'e', 'l', 'l', 'o']

**Accessing item from a list**

In [ ]:
# Indexing                   ek type ka no. aap nikal sakate hai
L = [1,2,3,4,5]
print(L[3])   #positive indexing fecting
print(L[-3])

4
3

In [ ]:
L = ([[[1,2],[3,4]],[[5,6],[7,8]]])
print(L[0][0][1])   #----if i want to print 2
print(L[1][0][0])

2
5

In [ ]:
#Slicing                                kitne bhi no. aap nikal sakate hai

L = [1,2,3,4,5,6]
print(L[0:3])
print(L[-4:])
print(L[0::2])    #--------->this is tep 2 that's means ki 2 ke step se no. print honga
print(L[-5:-2:2])
print(L[::-1])      #------> this syntax is used for to reverse list

[1, 2, 3]
[3, 4, 5, 6]
[1, 3, 5]
[2, 4]
[6, 5, 4, 3, 2, 1]

**Adding item to a list**

In [ ]:
#1. append
L = [1,2,3,4,5]
L.append(6)     # single item item ko add karta hai
print(L)

[1, 2, 3, 4, 5, 6]

In [ ]:
#2. extend
L = [1,2,3,4,5,6]
L.extend([7,8,9,6])           # multiple item add kr sakate hai
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 6]

In [ ]:
L = [1,2,3,4,5,6]
L.extend('delhi')
print(L)
L.extend(['delhi'])
print(L)

[1, 2, 3, 4, 5, 6, 'd', 'e', 'l', 'h', 'i']
[1, 2, 3, 4, 5, 6, 'd', 'e', 'l', 'h', 'i', 'delhi']

In [ ]:
#3. Insert
L = [1,2,3,4,5]
L.insert(1,100)   #->1 argu for index position u want add item in that place ,and 2nd argu for which item u want to add in the list ---kisi desired position pr aap kuch to item add karna chahte ho that's time use insert
print(L)

[1, 100, 2, 3, 4, 5]

**Editing items in a list**

In [ ]:
L = [1,2,3,4,5]

# editing with indexing
L[-1]=500
print(L)

#editing with slicing
L[1:4] = [200,300,45]
print(L)

[1, 2, 3, 4, 500]
[1, 200, 300, 45, 500]

**Deleting item from list**

In [ ]:
# del
L = [1,2,3,4,5]
print(L)
del L
print(L)

In [ ]:
L = [1,2,3,4,5]

#indexing
del L[-1]
print(L)

#slicing
del L[1:3]
print(L)

[1, 2, 3, 4]
[1, 4]

In [ ]:
#pop            ------>pop is generally used for to delete last item if we don't provide any index position of item
L = [1,2,3,4,5,6]
L.pop()

print(L)

In [ ]:
#clear        --> delete all item
L = [1,2,3,4,5,6]
L.clear()
print(L)

[]

**Operation on list**

1.Arithmetic

2.Membership

3.Loop

In [ ]:
# Arithmetic  (+,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8,9]

#concatenation/merge
print(L1 + L2)

In [ ]:
L1 = [1,2,3,4]
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
L1 = [1,2,3,4]
L2 = [5,6,7,8,9,[5,6]]

print(5 not in L1)
print(9 in L2)
print(7 in L1)

True
True
False

**Loop**

In [ ]:
L1 = [1,2,3,4]
L2 = [5,6,7,8,9,[5,6]]
L3 = [[[5,6],[3,7]],[[5,6],[6,9]]]

for i in L2:
  print(i)

for i in L3:
  print(i)

5
6
7
8
9
[5, 6]
[[5, 6], [3, 7]]
[[5, 6], [6, 9]]

**List Function**

In [ ]:
#len/min/max/sorted

L= [2,3,4,5,6,7,8,9,5,7,1,10,56,89]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L))      # by default they use ascending sorting order
print(sorted(L,reverse=True))   # after using reverse = True ,they giving decending order sorting

14
1
89
[1, 2, 3, 4, 5, 5, 6, 7, 7, 8, 9, 10, 56, 89]
[89, 56, 10, 9, 8, 7, 7, 6, 5, 5, 4, 3, 2, 1]

In [ ]:
#count    ------> it is basically used for to check frequency of perticular number
L = [1,2,3,4,4,56,67,0,4,57]
L.count(4)

3

In [ ]:
# index  ---------> used for to check index position of item, and if a perticular item is multiple times in list then it given 1 st position of that no.
L = [1,2,3,4,5,6,7,8,9,9,2,2,2,2,24,9,0]
L.index(2)
L.index(9)

8

In [ ]:
#reverse
L =[2,3,4,6,78,1,7,9,8]
#permanently reverse the list     ---->be careful in reverse operation because it change original list to convert in reverse
L.reverse()
print(L)

[8, 9, 7, 1, 78, 6, 4, 3, 2]

In [ ]:
#sort vs sorted  --------> sort=permanent, sorted= temporaly
L = [2,3,4,5,6,67,88,9,9,0,0,2,3,445,5,66,77889,9]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 3, 4, 5, 6, 67, 88, 9, 9, 0, 0, 2, 3, 445, 5, 66, 77889, 9]
[0, 0, 2, 2, 3, 3, 4, 5, 5, 6, 9, 9, 9, 66, 67, 88, 445, 77889]
[2, 3, 4, 5, 6, 67, 88, 9, 9, 0, 0, 2, 3, 445, 5, 66, 77889, 9]
[0, 0, 2, 2, 3, 3, 4, 5, 5, 6, 9, 9, 9, 66, 67, 88, 445, 77889]

In [ ]:
# copy  ---> shallow
L = [2,3,4,5,6,7,91,4,51,1,4,5,7]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 3, 4, 5, 6, 7, 91, 4, 51, 1, 4, 5, 7]
132153756700736
[2, 3, 4, 5, 6, 7, 91, 4, 51, 1, 4, 5, 7]
132153756294720

**List Comprehension**
List Comprehension provides a concise way of creating lists.

**newlist = [expression for item in iterable if condition == True**

Advantages of List Comprehension




1.   More efficient and space efficient than loop.
2.   Requires fever line of code.
3.   Transforms iterative statement into a formula.

In [ ]:
# Add 1 to 10 numbers to a list
L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:

L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#scalar multiplication on a vector
#without comprehension
v = [2,3,4,9]
s = 3

x =[]
for i in v:
  x.append(i*s)

print(x)

[6, 9, 12, 27]

In [ ]:
#with comprehension
v = [2,3,4,9]
s = 3

[s*i for i in v]

[6, 9, 12, 27]

In [ ]:
#Add square
L = [1,2,3,4,56,7,9]
[i**2 for i in L]

[1, 4, 9, 16, 3136, 49, 81]

In [ ]:
# print all numbers divisible by 5 in the range of 1 to 100
[i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
#find languages which start with letter p
languages = ['java','python','php','c','pragatu','ml']

[i for i in languages if i.startswith('p')]

['python', 'php', 'pragatu']

In [ ]:
#Nested if with list comprehension
basket = ['apple','guava','cherry','banana','aappyvhvbdf']
my_fruits = ['apple','kiwi','grapes','banana']

#add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
#print a (3,3) matrix using list comprehension ---> Nested List Comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# cartesian product ---> list comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [ ]:
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [ ]:
#indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

In [ ]:
# write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,2,-3,44]

list(zip(L1,L2))
[i+j for i,j in zip(L1,L2)]

[0, 4, 0, 48]

In [ ]:
L = [1,2,print,type,input]  ----> python mai aap built in function bhi list ke andar stored kr sakate ho

print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7f9c232ab760>>]

**How list are stored in memory**

**Characterstics of a list**

1.   Ordered
2.   changable/mutable
3.   Hetrogeneous
4.   Can have dulicate
5.   are dyanamic
6.   can be nested
7.   item can be accessed
8.   can contain any kind of object in python

**Disadvantages of list**


1.   slow
2.   Risky usage
3.   eats up more memory