<a href="https://colab.research.google.com/github/PragatiBirhade/Data-Science-demo/blob/main/python_basic_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.Python Output**

In [ ]:
print("Hello world")

Hello world

**Data Types**

In [ ]:
print('hello',1,4.5,True)

hello 1 4.5 True

In [ ]:
print('hello',1,4.5,True,sep='//')

hello//1//4.5//True

In [ ]:
print('hello',end='-')
print('world')

hello-world

In [ ]:
#integer
print(1e309)

inf

In [ ]:
#decimal/float
print(8.55)
print(1.7e309)

8.55
inf

In [ ]:
#Boolen
print(True)

True

In [ ]:
#complex
print(5+6j)

(5+6j)

In [ ]:
#list
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
#tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [ ]:
#sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [ ]:

#dictionaries
print({'name':'pragati','gender':'female','weight':70})

{'name': 'pragati', 'gender': 'female', 'weight': 70}

**3.variable**

In [ ]:
#static vs Dyanamic typing
#static vs dyanamic binding
#static declaration techniques

In [ ]:
#c/c++
name ='pragati'
print(name)

a = 5
b =6
print(a+b)

pragati
11

**4.Dyanamic vs Static Data typing**

In [ ]:
#Dyanamic Typing that support python
#--->u do not tell the value of data type means u don't declare data type of variable
a = 5
#static typing support c,cpp,java
#------>u declare data type before create variable like int,float,boolean etc
int a =5

**5.Dyanamic Binding or Static Binding**

In [ ]:
#Dyanamic Binding --->whole program mai hum kabhi bhi data type change kar sakte hai--->python support dynamic binding feature
a = 5
print(a)
a = 'pragati'
print(a)

#static Binding ---> whole program mai hum assign kiya huaa data type change nhi kar sakte -----> c,cpp,java support static binding feature
int a = 5
char a = 'abc'

In [ ]:
a = 1
b = 2
c = 3
print(a,b,c)

#or
a,b,c = 1,2,3
print(a,b,c)

1 2 3
1 2 3

In [ ]:
a=b=c= 5
print(a,b,c)

5 5 5

In [ ]:
#take input from user and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
# add the 2 variable
result = fnum + snum
print('result = ' ,result)

enter first number78
enter second number89
result =  167

**6.Type Conversion**

In [ ]:
#implicit & Explicit   ----> ek data tye ko dusre data type mai convert karna
#implicit--->means jaha pe type coversion internally ,automatically ,interpreter khud kar deta hai,no need to of programmer to convert them
#Explicit ----->means jo programmer khudse request karta hai python ko ki that type change karo data ka

In [ ]:
#explicit
#str  --> int
int(4.5j)    ---> complex to integer convert nhi ho sakta

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

**7.Literals**

In [ ]:
# kisi bhi value ko aap store kar rahe ho variable ke ander usse  literal bola jate hai


a = 0b1010
b = 100
c = 0o310
d = 0x12c

#float literal
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3

#complex Literal
x = 3.14j

**8.Operator**

In [ ]:
#Relational Operator
print(4<5)
#<,>,=,!=,<=,>=  etc


#Logical Operator
print(1 and 0)
print(not 1)
print(1 or 0)


#Arithmetic operator
#+,-,*,%,/


#Bitwise Operator
#1.Bitwise and    ---.2 ==010  ,3 ==110  ya doghanvr binary operation lavaych like unit place pasun 0 or 1 =1 etc
print(2 & 3)

#2. Bitwise or
print(2 | 3)

#3. Bitwise xor    ----> dono same honge to =0, dono alag homge to =1   ,ex if (1 ^1 ==0),(1^2 == 1)
print(2 ^3)
print(~3)
print(4 >>2)
print(5 <<2)



# 4.Assignment Operator
# =
#a =2




#5. Membership Operator

# in/not in
print('d' in 'delhi')

True
0
False
1
2
3
1

**If else in python**

In [ ]:
#login program and indentation
#email --->pragatibirhade522@gmail.com
# password --.pragati@123


email = input('enter email ')
password = input('enter password ')

if email =='pragatibirhade522@gmail.com' and password =='1234':
  print('welcome')
else:
  print('email and password are not correct')

enter email pragatibirhade522@gmail.com
enter password 1234
welcome

In [ ]:
email = input('enter email ')
password = input('enter password ')

if email =='pragatibirhade522@gmail.com' or password =='1234':
  print('welcome')
else:
  print('email and password are not correct')

enter email huijefdkvhkeriukgh
enter password 1234
welcome

In [ ]:
email = input('enter email ')
password = input('enter password ')

if email =='pragatibirhade522@gmail.com' and password !='1234':
  print('incorrect password')
  password = input('enter password again')
  if password == '1234':
    print('welcome')
  else:
    print('correct it')
else:
  print('email and password are not correct')

enter email pragatibirhade522@gmail.com
enter password 4567
incorrect password
enter password again1234
welcome

In [ ]:
# 2.find the mean of three given number

a = int(input('first num'))
b = int(input('second num'))
c = int(input('third num'))

if a<b and a<c:
  print('smallest no. is ',a)
elif b<c:
  print('smallest is ',b)
else:
  print('smallest is ',c)

first num34
second num67
third num89
smallest no. is  34

In [ ]:
a,b,c = int((input('1st'),()'2nd'),('3rd'))

if a<b and a<c:
  print('smallest no. is ',a)
elif b<c:
  print('smallest is ',b)
else:
  print('smallest is ',c)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-10-22ab3174eafe>, line 1)

In [ ]:
# menu driven calculator
fnum = int(input('enter the first number'))
snum = int(input('enter the second number'))

op = input('enter the operation')

if op == '+':
  print(fnum + snum)
elif op == '-':
  print(fnum - snum)
elif op == '*':
  print(fnum * snum)
else:
  print(fnum/snum)

enter the first number78
enter the second number89
enter the operation*
6942

In [ ]:
# menu driven program
menu = input("""
Hi! how can i help you.
1.Enter 1 for pin chnage
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for Exit
"""
)

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

Hi! how can i help you.
1.Enter 1 for pin chnage
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for Exit
1
pin change

**Module in Python**

1.   math
2.   keywords
3.   random
4.   datetime

In [ ]:
#math
import math

math.factorial(5)
math.floor(6.9)

6

In [ ]:
#keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#random
import random
print(random.randint(1,100))

85

In [ ]:
#datetime
import datetime
print(datetime.datetime.now())

2024-03-30 11:06:12.908641

**Loops in Python**    ------> Loops are essential in programming for automating repetitive tasks, iterating over collections, and processing data efficiently. They make our code concise, readable, and adaptable to different scenarios.

In [ ]:
number = int(input('enter the number'))

i = 1

while i<11:
  print(number * i)
  i += 1

enter the number7
7
14
21
28
35
42
49
56
63
70

In [ ]:
#while loop with else

x = 1

while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

In [ ]:
from typing import Counter
# Guessing game

# generate a random integer between 1 and 100
import random
jackpot = random.randint(1,100)

guess = int(input('guess karo'))
counter = 1


while guess != jackpot:
  if guess < jackpot:
    print('galat guess higher')
  else:
    print('galat guess lower')

  guess = int(input('guess karo'))
  counter += 1

else:
  print('correct guess')
  print('attempts',counter)

guess karo6
galat guess higher
guess karo78
galat guess lower
guess karo50
galat guess higher
guess karo60
galat guess lower
guess karo55
galat guess lower
guess karo52
correct guess
attempts 6

In [ ]:
# for loop demo

for i in range(11,1,-2):   #-----> start,end,step
  print(i)

11
9
7
5
3

In [ ]:
for i in 'delhi':
  print(i)

d
e
l
h
i

In [ ]:
for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

1. Program ---> The current population of a town is 10000.the population of the town is increasing at the rate of 10% per year .you have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop - curr_pop*0.1

10 10000
9 9000.0
8 8100.0
7 7290.0
6 6561.0
5 5904.9
4 5314.41
3 4782.969
2 4304.6721
1 3874.20489