<a href="https://colab.research.google.com/github/PragatiBirhade/Data-Science-demo/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Sets**

A set is an unordered collection of items. Every set element is unique(no duplicate)and must be immuatble(can not changed).

however, a set itself is mutable.we can add or remove items from it.

sets can also be used to perform mathematical set operations like union, intersection,symmetric difference, etc

**characterstics:**


1.   Unordered
2.   Mutable
3.   No duplicate
4.   can't contain mutable data types

In [1]:
#empty
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [2]:
#homo and hetro     ------> lonsa item kis position pe jayega ye hashing decide karti hai,n yes set order ke form mai nhi output deta
s1 = {1,'hello',4.5,(1,2,3)}
print(s1)

{1, (1, 2, 3), 4.5, 'hello'}

In [4]:
s4 = set([1,2,3])
print(s4)

{1, 2, 3}

In [5]:
# set duplicate item allow nhi karta
s3 = {1,2,3,1,1,5,6,7,8,3,1}
print(s3)

{1, 2, 3, 5, 6, 7, 8}

In [6]:
s1 = {1,2,3}
s2 = {2,1,3}
print(s1 == s2)    # this is false in list and tuple because they matter order ,and set does'nt

True

**set mai aap editing and accessing item according to index position nhi kar sakte ,because set index order follow nhi karta ,but aa set mai new elelment add kar sakate hai ,aur voh delete bhi kar sakate hai.**

**Adding item in set**

In [8]:
s = {1,2,3,4}
s.add(4)    ---> only take one argument
print(s)

{1, 2, 3, 4}

**Update**

In [11]:
s = {1,2,3,5}
s.update([5,6,77,8,9])    #--------> update is used for to add multiple item
print(s)

{1, 2, 3, 5, 6, 8, 9, 77}

**Deleting item**


1.   del
2.   discard
3.   remove
4.   pop
5.   clear

In [12]:
# del
s = {1,2,3,4,5}
print(s)
del s    #------> pure set ko delete kar sakate hai but ek perticular item delete nhi kar sakate
print(s)

{1, 2, 3, 4, 5}

NameError: name 's' is not defined

In [13]:
# discard-----> jisbhi item ko aap delete karna chahte ho set ke ander aap kr sakate ho  --> if set ke ander voh item present nhi honga then discard item ko delete to nhi karta lekin but erroe throw nhi karta

s = {1,2,3,4,5}
s.discard(5)
print(s)

{1, 2, 3, 4}

In [16]:
#remove  ----> if item is not exist in set then remove will throw an error
s = {1,2,3,4,5}
s.remove(5)
print(s)

{1, 2, 3, 4}

In [17]:
# pop  ---> this funtion delete a random item in set
s = {1,2,3,4,5,6,6}
s.pop()

1

In [19]:
#clear---> all set ko empty kr deta hai
s = {1,2,3,4,5,6,6}
s.clear()
print(s)

set()

**set operation**


1.   Union(|)
2.   Intersection(&)
3.   Difference(-)
4.   symmetric Difference(^)
5.   Membership Test
6.   Iteration

In [20]:
#union
s1 ={1,2,3,4,5,6,7,8,9}
s2 ={4,6,7,1,8,9,4}
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [21]:
#intersection
s1 ={1,2,3,4,5,6,7,8,9}
s2 ={4,6,7,1,8,9,4}
s1 & s2

{1, 4, 6, 7, 8, 9}

In [22]:
# Difference(-)
s1 ={1,2,3,4,5,6,7,8,9}
s2 ={4,6,7,1,8,9,4}
s1 - s2

{2, 3, 5}

In [23]:
#symmetric Difference
s1 ={1,2,3,4,5,6,7,8,9}
s2 ={4,6,7,1,8,9,4}
s1 ^ s2

{2, 3, 5}

In [25]:
#membership Test

s1 ={1,2,3,4,5,6,7,8,9}
s2 ={4,6,7,1,8,9,4}
8 in s1

True

In [27]:
#loop in set
s1 ={1,2,3,4,5,6,7,8,9}
s2 ={4,6,7,1,8,9,4}
for i in s1:
  print(i)

1
2
3
4
5
6
7
8
9

**Set Function**

#len/sum/min/max/sorted

In [29]:
s1 ={1,2,3,4,5,6,7,8,9}
s2 ={4,6,7,1,8,9,4}
print(len(s1))
print(sum(s2))
print(min(s1))
print(max(s1))
print(sorted(s2))                 #  ascending
print(sorted(s1,reverse=True))    # for decending

9
35
1
9
[1, 4, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
#union/update
s1 ={1,2,3,4,7,8,9}
s2 ={4,6,7,1,8,9,4}

s1.union(s2)

s1.update(s2)      #-> update is used for to add multiple item
print(s1)
print(s2)

{1, 2, 3, 4, 6, 7, 8, 9}
{1, 4, 6, 7, 8, 9}

In [34]:
#intersection/intersection_update
s1 ={1,2,3,4,5}
s2 ={4,6,7,1,8,9,4}

s1.intersection(s2)
s1.intersection_update(s2)
print(s1)
print(s2)

{1, 4}
{1, 4, 6, 7, 8, 9}

In [35]:
#difference/difference_update
s1 ={1,2,3,4,5}
s2 ={4,6,7,1,8,9,4}

s1.difference(s2)
s1.difference_update(s2)
print(s1)
print(s2)

{2, 3, 5}
{1, 4, 6, 7, 8, 9}

#isdisjoint/issubset/issuperset

In [36]:
s1 = {1,2,3,4}
s2 = {7,6,8,9,5}
s1.isdisjoint(s2)

True

In [39]:
s1 = {1,2,3,4}
s2 = {7,6,8,9,5,1,2,3,4}
s2.issuperset(s1)

True

In [40]:
#copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

#frozen set->is just an immutable version of a python set object

In [41]:
fs = frozenset([1,2,3])     # new item add nhi honge,aur urane item delete nhi honge
fs

frozenset({1, 2, 3})

In [42]:
#union operation on frozenset
f1 = frozenset([1,2,3,4])
f2 = frozenset([3,4,5,6])

f1.union(f2)

frozenset({1, 2, 3, 4, 5, 6})

In [43]:
#when to use 2d sets
fs = frozenset([1,2,frozenset([5,6,8])])
fs

frozenset({1, 2, frozenset({5, 6, 8})})

In [46]:
#set comprehension

{i**3 for i in range(1,11) if i>5}

{216, 343, 512, 729, 1000}